<nav>
  <ul>
    <li>
      <a href="/square/new">
        Square with Form
      </a>
    </li>

    <li>
      <a href="/square_root/new">
        Square Root with Form
      </a>
    </li>

    <li>
      <a href="/payment/new">
        Payment with Form
      </a>
    </li>

    <li>
      <a href="/random/new">
        Random with Form
      </a>
    </li>
  </ul>
</nav>

<h1>
  Payment Calculation
</h1>
  
<form action="/payment/results">

  <label for="apr">APR</label>
  <input id="apr" text="text" name="user_apr" placeholder="E.g. 5.42"><br>

  <label for="years">Number of years</label>
  <input id="years" text="text" name="user_years" placeholder="How many years to repay?"><br>

  <label for="principal">Principal</label>
  <input id="principal" text="text" name ="user_pv" placeholder="How much principal?"><br>

  <button>
    Calculate monthly payment
  </button>

</form>