<nav>
  <ul>
    <li>
      <a href="/square/new">
        Square with Form
      </a>
    </li>

    <li>
      <a href="/square_root/new">
        Square Root with Form
      </a>
    </li>

    <li>
      <a href="/payment/new">
        Payment with Form
      </a>
    </li>

    <li>
      <a href="/random/new">
        Random with Form
      </a>
    </li>
  </ul>
</nav>

<h1>
  Random Calculation
</h1>
  
<form action="/random/results">

  <label for="min">Minimum</label>
  <input id="min" text="text" name="user_min" placeholder="E.g. 1.5"><br>

  <label for="max">Maximum</label>
  <input id="max" text="text" name="user_max" placeholder="E.g. 4.5"><br>

  <button>
    Pick random number
  </button>

</form>