<nav>
  <ul>
    <li>
      <a href="/square/new">
        Square with Form
      </a>
    </li>

    <li>
      <a href="/square_root/new">
        Square Root with Form
      </a>
    </li>

    <li>
      <a href="/payment/new">
        Payment with Form
      </a>
    </li>

    <li>
      <a href="/random/new">
        Random with Form
      </a>
    </li>
  </ul>
</nav>

<h1>
  Square Root Calculation
</h1>

<form action="/square_root/results">

  <label for="number_input">Enter a number</label>
  <input id="number_input" text="text" name="user_number" placeholder="Pick a number"><br>
  
  <button>
    Calculate square root
  </button>

</form>